page-login {

    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          color: blue;
        }
      
        .card-subtitle {
          color: black;
        }

        .center {
            position: center;
          }     
      }
}
